*{
 margin: 0;
 padding: 0;
}
 body{
 	font size: 1rem;
 	font-family: "trebuchet MS", Helvetica, sans-serif;
 	background: #e6e6e6;
 }
 /***layout***/
 #area-cabecalho {
 	background-color: #f7b600;
 	padding: 15px;
 	text-align: center;
 }
 #logo , #menu {
 	padding: 10px;
 	margin: 
 }
 h1{
 	color: #4e4e4e;
 	font-size: 2.5em;
 }
.branco{
	color: white;
}

 /***menu***/

a{
 	text-decoration: none;
 }
a:link, a:visited {
	color: #fff;
	padding: 8px 12px
}	
a:hover {
	color: #f7b600;
	background: #fff;
}

/***area-pricipal***/

#area-principal {
		width: 930px;
		margin: 0px auto;
}
#postagens{
  		width: 640px;
  		background: #fff;
  		float: left;

}
#menu-lateral{
		width: 120px;
		background: #fff;
		float: right;


}

#rodape{
	;
	clear: both;
	text-align: center;
	padding: 15px;
	background: #ccc;
}